<form method="POST">
    <div class="input-field">
        <input 
        id="application_period_update_title" 
        name="application_period_update_title"
        value= {{application_period_service.getApplicationPeriodById(application_period_id).title}}
        readonly>
    </div>
    <div class="input-field">
        <select 
        id="application_period_update_status" 
        name="application_period_update_status">
            {% for status in application_period_service.STATUS_LIST %}
            {% if status != application_period_service.getApplicationPeriodById(application_period_id).status %}
                <option value={{status}}>{{status}}</option>
            {% else %}
                <option value={{status}} selected>{{status}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="input-field">
        <input 
        id="application_period_update_deadline" 
        name="application_period_update_deadline"
        type="datetime-local"
        >
    </div>
    <button name="application_period_create" class="btn btn-info">Update</button>
</form>