<form method="POST">
    <div class="input-field">
        <input 
        id="application_period_update_title" 
        name="application_period_update_title"
        placeholder= {{application_period_service.getApplicationPeriodById(application_period_id).title}}>
    </div>
    <div class="input-field">
        <input 
        id="application_period_update_status" 
        name="application_period_update_status"
        placeholder={{application_period_service.getApplicationPeriodById(application_period_id).status}}>
    </div>
    <div class="input-field">
        <input 
        id="application_period_update_deadline" 
        name="application_period_update_deadline"
        type="datetime-local"
        >
    </div>
    <button name="application_period_create" class="btn btn-info">Update</button>
</form>