<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

</head>

<body>
  {% extends 'main_page.html' %}

  {% block nav_content %}

  <!-- LINKS ON ALL href's-->
  <li class="nav-item">
    <a class="nav-item nav-link" style="padding-top:15px" id="signUp" href="/faq">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" style="padding-top:15px" href="/ec/applications/">All Applications</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" style="padding-top:15px"
      href="/faq/update/department={{user_service.getUserById(user.bilkent_id).department}}">Update FAQ</a>
  </li>
  <li class="nav-item">
    <form action="" method="POST">
      <button type="logout" class="logoutButton" style="padding-top:12px; background:none; color:rgb(193, 187, 187)"
        name="logout" value="">
        Logout
      </button>
    </form>
  </li>
  {% endblock %}


  <!-- WORK HERE -->
  {% block content %}

  <div class="row justify-content-around" style="margin:10px">
    <div class="col-8"
      style="margin:10px; background:linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%); color:white;">
      <div style="padding:10px">
        <h2>Ongoing Application Periods</h2>
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Student ID</th>
              <th scope="col">Status</th>
              <th scope="col">View</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>

            {% for application_period in application_period_service.getApplicationPeriodsByDepartment(
            user_service.getUserById(user.bilkent_id).department)
            %}
            <!--For Loop -->
            <tr>
              <th scope="row">1</th>
              <td>{{user.bilkent_id}}</td>
              <td>{{ application_period.status }}</td>
              <td>
                <form action="" method="POST">
                  <button type="submit" class="open" name="Message" value="">
                    Download
                  </button>
                </form>
              </td>
              <td>
                <form action="" method="POST">
                  <button type="submit" class="open" name="Message" value="">
                    Message
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
    <!-- dont worry about calendar do rest -->
    <div class="col-3">
      {% include 'calendar.html' %}
    </div>
  </div>

  <div style="margin:40px; width:600px">
    <div
      style="margin:10px; background:linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%); color:white;">
      <div style="padding:10px">
        <h2>To Do List</h2>
        
      </div>
  </div>

  {% endblock %}
</body>

</html>