<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %} Erasmus Coordinator Homepage {% endblock %} </title>
</head>

<body>
  <!-- WORK HERE -->
  {% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <form method="POST">
        <a class="nav-item nav-link" href="/ec/home">Home</a>
        </form>
        <a class="nav-item nav-link" href="/">Upload Final Form</a>
        <a class="nav-item nav-link" href="/faq/update/department={{user.department}}">Update FAQ</a>
        <a class="nav-item nav-link" href="/ec/applications/">View Student Applications</a>
        <a class="nav-item nav-link" href="/ec/form_application">Open Application Period</a>
        <a class="nav-item nav-link" href="/ec/universities">Universities</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
  
  <div class="row justify-content-around" style="margin:10px">
    <div class="col-8" 
      style="margin:10px; background:linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%); color:white;">
      <div style="padding:10px">
        <h2>Ongoing Application Periods</h2>
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Due</th>
              <th scope="col">Update</th>
              <th scope="col">Complete</th>
            </tr>
          </thead>
          <tbody>
            
            {% for application_period in application_period_service.getApplicationPeriodsByDepartment(
            user_service.getUserById(user.bilkent_id).department)
            %}
            {% if application_period.status != "Completed" %}
            <tr>
              <td>{{application_period.title}}</td>
              <td>{{ application_period.type }}</td>
              <td>{{ application_period.status }}</td>
              <td>{{ application_period.deadline }}</td>
              <td>
                <form action="" method="POST">
                  <a 
                    class="nav-link" 
                    href="/ec/application_period/update/application_period_id={{application_period.id}}"
                    >
                    Modify Application
                  </a>
                </form>
              </td>
              <td>
                <form action="" method="POST">
                  <button 
                    class="btn btn-info"
                    name="complete_application_period"
                    value="{{application_period.id}}">
                    Terminate Period
                  </button>
                </form>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- dont worry about calendar do rest -->
    <div class="col-3">
      {% include 'calendar.html' %}
    </div>
  </div>

  <div style="margin:40px; width:600px">
    <div
      style="margin:10px; background:linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%); color:white;">
      <div style="padding:10px">
        <h2>To Do List</h2>
        
      </div>
  </div>

  {% endblock %}
</body>

</html>