<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Final Forms</title>
    </head>
    <body>
        <h1>Final Forms Page</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-nav">
                <form action="" method="POST" >
                    <button type="submit" class="open" name="home" value="{{ user.bilkent_id }}">
                        Home
                    </button>
                </form>
                <form action="" method="POST" >
                    <button type="submit" class="open" name="todo" value="{{ user.bilkent_id }}">
                        To Do List
                    </button>
                </form>
                <form action="" method="POST" >
                    <button type="submit" class="open" name="applications" value="{{ user.bilkent_id }}">
                        View Applications
                    </button>
                </form>
                <form action="" method="POST" >
                    <button type="submit" class="open" name="finalforms" value="{{ user.bilkent_id }}">
                        Final Forms
                    </button>
                </form>
                <form action="" method="POST" >
                    <button type="submit" class="open" name="logout" value="">
                        Logout
                    </button>
                </form>
            </div>
        </nav>
    </body>
</html>