<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Main </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
  
    


  <nav class="navbar navbar-expand-lg navbar-dark " style=" background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%);">
    <a class="navbar-brand" href="/main">
      <img src="/static/logo.png" width="50" height="50" class="d-inline-block"  style="border-radius:50px; " alt="">
      <text style="font-weight: bold;">BILKENT ERASMUS</text>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% block nav_content %}
        
        <li class="nav-item">
          <a class="nav-item nav-link" style="padding-top:15px" id="signUp" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" style="padding-top:15px" id="signUp" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link " style="padding-top:15px ; " id="login" href="/login">Login</a>
        </li>
        {% endblock %}
      </ul>
    </div>
  </nav>
  








  {% block content %}
  
  <div class="d-flex justify-content-between" style="margin-top:20px;margin-left:20px; margin-right:60px;">
    <img src="/static/pic1.png" alt="Recuit" width="300" height="400" style="filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">
    <div style="margin-left:100px;">
      <h1 style="text-align:right">Bilkent Erasmus</h1>
      <p style="text-align:right; line-height: 170%; width: 529px; height: 155px;">Bilkent Computer Engineering
        Department has been actively involved in exchange programs and has established bilateral agreements with some of
        the leading universities of the world. Students who are interested in studying abroad are encouraged to apply.
      </p>
    </div>

  </div>

  
  <div style="margin-top:30px; background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%);">
    <div style="padding:10px">
      <h1 style="color:white">Partner Instutions</h1>
      <p style="width:1000px; color:white">The exchange partners of the Bilkent CS Department include some of the best computer
        science/engineering departments in the world. All of our exchange partners are among the most established
        universities of their countries, and most of them have been listed among the World's Top 200 Universities
        according the Times Higher Education Supplement. The following is a list of our Erasmus partners:
      </p>
    </div>
    <div  style="padding:10px; overflow-x: scroll;">
     
      <div style="margin-right:10px; display: inline-block;">
        <img src="/static/pic1.png" alt="Recuit" width="300" height="200" style="filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"/>
        <h2>1321312</h2>
      </div>
      
      <div style="margin-right:10px; display: inline-block;">
        <img src="/static/pic1.png" alt="Recuit" width="300" height="200" style="filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"/>
        <h2>1321312</h2>
      </div>
      
    </div>
  </div>

  <div style="margin-top:50px; margin-bottom:100px">
    <div style="width:600px; height:200px; background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%);">

    </div>
  </div>

  <div style="margin-top:50px; margin-bottom:100px">
    <div style="width:600px; height:200px; background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%);">

    </div>
  </div>
  


  {% endblock %}




</body>

</html>