<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student Home Page</title>
</head>

<body>

  


  {% extends 'main_page.html' %}

  {{name}}
  {{application_deadline}}
  {{preapproval_deadline}}
  {{learning_agreement_deadline}}
  {{matched_university}}

  {% block nav_content %}

  <!-- LINKS ON ALL href's-->

  <li class="nav-item">
    <a class="nav-item nav-link" style="padding-top:15px" id="signUp" href="/my_application.html">My Application</a>
  </li>



  <li class="nav-item">
    <form action="" method="POST">
      <button type="logout" class="logoutButton" style="padding-top:12px; background:none; color:rgb(193, 187, 187)"
        name="logout" value="">
        Logout
      </button>
    </form>
  </li>

  {% endblock %}

    {% set app_dl = 5 %}
    {% set pre_dl = 10 %}
    {% set match = 0 %}
    {% set today = 0 %}

    {% set pre_approved = 0 %}
    {% set preapproval_loaded = 0 %}
    {% set you_applied =0 %}
    {% set learning_ag_loaded = 0 %}
  {% block content %}
  <!-- ======= Hero Section ======= -->
  <div style="justify-content:center;  display:flex">

    

    {% if today < app_dl %} 
      {% if you_applied == 0 %}
      <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
        start application, you never applied
        <a href="{{ url_for('student_application') }}"> Apply Erasmus </a>
        
        
      </div>
      {% else %}
      <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
        <a href="{{ url_for('student_application') }}"> Apply Erasmus </a>
        <a href="{}"> View Application </a>
      </div>
      {% endif %}
    {% endif %}
    
    {% if today >= app_dl and you_applied == 0 %}
    <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
      Application Period Over, you missed
    </div>
    {% endif %}

    {% if today >= app_dl and you_applied == 1 %} 
      <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
        Application Period Over
        <a href="{}"> View Application </a>
      </div>
      {% if match == 0 %} 
        {% if today < pre_dl %}
          <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
            waiting match
          </div> 
        {% else %}
          <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
            you did not get a match
          </div> 
        {% endif %} 
      {% else %}
        <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
          matched with University blabla
        </div> 
        {% if today < pre_dl %}
          {% if preapproval_loaded == 1 %}
            <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
              Preapproval loaded
              <a href="{}"> Start Preapproval </a>
              <a href="{}"> View preapproval </a>
            </div>
          {% else %}
            <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
              Preapproval not loaded
              <a href="{}"> Start Preapproval </a>
            </div>
          {% endif %}
        {% else %}
          <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
            Preapproval Period is over
          </div>
        {% endif %}
        
        {% if pre_approved == 1 and preapproval_loaded == 1 %}
        <div style="margin:10px;width:600px; height:800px; background-color:rgb(169, 169, 169)">
          {% if learning_ag_loaded == 0 %}
          Learning  Agreement
          <a href="{}"> Upload </a>
          {% else %}
          Learning Agreement
          <a href="{}"> Upload </a>
          <a href="{}"> View </a>
          {% endif %}
        </div>
        {% endif %}
      
      {% endif %}
      

    {% endif %}


   

    </div>
    {% endblock %}
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src={{ url_for("static", filename="student_home_assets/vendor/bootstrap/js/bootstrap.bundle.min.js" )
      }}></script>
    <script src={{ url_for("static", filename="student_home_assets/vendor/glightbox/js/glightbox.min.js" ) }}></script>
    <script src={{ url_for("static", filename="student_home_assets/vendor/swiper/swiper-bundle.min.js" ) }}></script>

    <!-- Template Main JS File -->
    <script src={{ url_for("static", filename="student_home_assets/js/main.js" ) }}></script>
</body>

</html>