<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <title>Student Home Page</title>
</head>

<body>

  {{name}}
  {{application_deadline}}
  {{preapproval_deadline}}
  {{learning_agreement_deadline}}
  {{matched_university}}


  {% extends 'main_page.html' %}
  <h1 align="center">Pending Proposals</h1>

  {% block nav_content %}
  
  <!-- LINKS ON ALL href's-->
  
  <li class="nav-item">
    <a class="nav-item nav-link" style="padding-top:15px" id="signUp" href="/my_application.html">My Application</a>
  </li>
  

  
  <li class="nav-item">
      <form action="" method="POST">
          <button type="logout" class="logoutButton" style="padding-top:12px; background:none; color:rgb(193, 187, 187)" name="logout" value="">
              Logout
          </button>
      </form>
  </li>

  {% endblock %}

  
  {% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Welcome {{name}}!</h1>
        </div>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="{{ url_for('student_application') }}"> Apply Erasmus </a></h4>
            <p class="description"> - List Partner Universities </p>
            <p class="description"> - Get Help from Application Assistant </p>
            <p class="description"> - Make Your Choice </p>
            <p class="description"> - Upload Application Form </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="{{ url_for('student_preapproval') }}"> Course Selection </a></h4>
            <p class="description"> - List Pre-Approved Courses </p>
            <p class="description"> - Request Approval for a new Course </p>
            <p class="description"> - Make Your Choice </p>
            <p class="description"> - Upload Pre-Approval Form </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="{{ url_for('student_learning_agreement') }}"> Learning Agreement </a></h4>
            <p class="description"> - Download & Upload Your Learning Agreement Form </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  {% endblock %}
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={{ url_for("static", filename="student_home_assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>
  <script src={{ url_for("static", filename="student_home_assets/vendor/glightbox/js/glightbox.min.js") }}></script>
  <script src={{ url_for("static", filename="student_home_assets/vendor/swiper/swiper-bundle.min.js") }}></script>
  
  <!-- Template Main JS File -->
  <script src={{ url_for("static", filename="student_home_assets/js/main.js") }}></script> 
</body>

</html>